.bottom-header {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
  background-color: #b3816e;
  color: #ded2aa;
  z-index: 1;
}
