/*Account Display*/
.account-page {
  display: flex;
  margin-left: 10rem;
  margin-right: 5rem;
  text-align: justify;
}

.account-app {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  padding: 2rem;
}

.account-user,
.account-history {
  /* Equal width for both columns */
  margin-top: 1rem;
}

.category-history,
.trip-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.category-history p,
.trip-item div {
  flex: 1;
  text-align: center;
}

.account-user {
  margin-right: 4rem;
  width: 30rem;
  background-color: #b3816e;
  border: 5px solid #ded2aa;
}

.account-history {
  width: 60rem;
  height: 50rem;
  background-color: #b3816e;
  border-radius: 10px;
  border: 5px solid #ded2aa;
  flex: 1;
}

.account-profile-header {
  font-size: 3rem;
}

.account-profile-text {
  font-size: 1.5rem;
}

.trip-item:nth-child(odd) {
  background-color: #b3816e;
}

.trip-item:nth-child(even) {
  background-color: #b98f68;
}

.trip-name {
  text-align: left;
  flex: 2;
}

.trip-timestamp {
  text-align: center;
  flex: 1.5;
}

.trip-action {
  text-align: right;
  flex: 1;
}

.p-t {
  margin-bottom: 1rem;
}

.open-popup-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #570e06;
  color: #9e736a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.open-popup-btn:hover {
  background-color: #6b2914;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 1rem 9.3rem;
}

.pagination button {
  padding: 0.2rem 0.5rem;
  background-color: #570e06;
  color: #9e736a;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
}

.pagination button:hover {
  background-color: #6b2914;
}

/*Update Popup Account */
.popup-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-form {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 30rem;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.account-spacing {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 7px;
}

.text-header-profile-form {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  color: #273b68;
}

.text-account {
  display: flex;
  font-size: 1rem;
  color: #273b68;
  padding-top: 0.2rem;
}

label {
  display: flex;
  flex-direction: row;
  padding: 1rem 0rem;
  gap: 10px;
}

.profiler-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.account-button[type="submit"] {
  margin-top: 3rem;
  margin-left: 7rem;
  margin-right: 7rem;
  padding: 0.8rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-icon {
  height: 1.5rem;
  width: 1.5rem;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*Update  */
