/*Main*/
.authenticate {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px 20px;
  min-height: 30vh;
  margin-top: 8rem;
  margin-left: 38%;
  margin-right: 38%;
  border-radius: 10px;
}

/*Spacing for individual entity*/
.first-spacing {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  gap: 7px;
}

/*Every component has this*/
.text-header {
  display: flex;
  justify-content: center;
  color: #273b68;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}

.text-email-pass {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #273b68;
}

.inputs {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

.btn-login {
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  background-color: #ded2aa;
  color: #b3816e;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-login.filled {
  background-color: #b3816e;
  color: #ded2aa;
}

.btn-login:disabled {
  cursor: default;
}

.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
  gap: 20px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1.5px 2.5px #d6caca;
}

.icon-google {
  width: 25px;
  height: 25px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 15px;
  color: grey;
  margin-top: 15px;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #273b68;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

/*Signin.tsx*/
.forgot-padding {
  padding-left: 17rem;
}

.text-forget {
  display: flex;
  justify-content: right;
  font-size: 7px;
  color: #273b68;
  text-decoration: none;
}

.create-padding {
  padding: 0rem 8.2rem;
}

.happy-div {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.happy-text {
  max-width: 200px;
}

/*Signup.tsx*/
.btn-signup {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.already-padding {
  padding: 0rem 5.8rem;
}

/*ForgetPassword.tsx*/
.back-padding {
  padding: 0rem 9rem;
}

.text-create,
.text-account,
.text-back {
  display: flex;
  justify-content: center;
  font-size: 7px;
  color: #273b68;
  text-decoration: none;
}
