/*Desktop View*/
@media only screen and (max-height: 1008px) {
  .authenticate {
    margin-top: 8rem;
    padding: 20px 20px;
  }

  .happy-text {
    max-width: 200px;
  }

  .first-spacing {
    padding: 15px 0px;
    gap: 7px;
  }

  .text-header {
    font-size: 2rem;
  }

  .inputs {
    padding: 10px;
  }

  .text-email-pass {
    font-size: 15px;
  }

  .forgot-padding {
    padding-left: 17rem;
  }

  .btn-login {
    padding: 10px;
    font-size: 15px;
  }

  .text-forget {
    font-size: 7px;
  }

  .create-padding {
    padding: 0rem 8.2rem;
  }

  .already-padding {
    padding: 0rem 5.8rem;
  }

  .back-padding {
    padding: 0rem 9rem;
  }

  .text-create,
  .text-already,
  .text-back {
    font-size: 7px;
  }

  .btn-google {
    padding: 10px;
    gap: 20px;
    font-size: 15px;
  }
}

/*Laptop View*/
@media only screen and (max-height: 828px) {
  .authenticate {
    margin-top: 6rem;
    padding: 17px 17px;
  }

  .happy-text {
    max-width: 160px;
  }

  .first-spacing {
    padding: 10px 0px;
    gap: 7px;
  }

  .text-header {
    font-size: 1.6rem;
  }

  .inputs {
    padding: 8px;
    font-size: 0.7rem;
  }

  .text-email-pass {
    font-size: 12px;
  }

  .forgot-padding {
    padding-left: 13rem;
  }

  .btn-login {
    padding: 7px;
    font-size: 12px;
  }

  .text-forget {
    font-size: 5.5px;
  }

  .create-padding {
    padding: 0rem 6.2rem;
  }

  .already-padding {
    padding: 0rem 4rem;
  }

  .back-padding {
    padding: 0rem 7rem;
  }

  .text-create,
  .text-already,
  .text-back {
    font-size: 5.5px;
  }

  .btn-google {
    padding: 7px;
    gap: 20px;
    font-size: 12px;
  }
}

/*Main*/
.authenticate {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 38%;
  margin-right: 38%;
  border-radius: 10px;
}

/*Spacing for individual entity*/
.first-spacing {
  display: flex;
  flex-direction: column;
}

/*Every component has this*/
.text-header {
  display: flex;
  justify-content: center;
  color: #273b68;
}

/* account.tsx uses this too*/
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}

.text-email-pass {
  display: flex;
  align-items: center;
  color: #273b68;
}

.inputs {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

.btn-login {
  border: none;
  border-radius: 6px;
  font-weight: bold;
  background-color: #ded2aa;
  color: #b3816e;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-login.filled {
  background-color: #b3816e;
  color: #ded2aa;
}

.btn-login:disabled {
  cursor: default;
}

.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1.5px 2.5px #d6caca;
}

.icon-google {
  width: 25px;
  height: 25px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 15px;
  color: grey;
  margin-top: 15px;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #273b68;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

/*Signin.tsx*/

.text-forget {
  display: flex;
  justify-content: right;
  color: #273b68;
  text-decoration: none;
}

.happy-div {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/*Signup.tsx*/
.btn-signup {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

/*ForgetPassword.tsx*/

.text-create,
.text-already,
.text-back {
  display: flex;
  justify-content: center;
  color: #273b68;
  text-decoration: none;
}
