.authenticate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 20px 15px;
  height: 30vh;
  gap: 20px;
  margin-top: 10rem;
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 10px;
}

.formSignup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
