.leaflet-container {
  height: 90vh;
  margin-right: 200px;
  margin-left: 25px;
}

.map {
  z-index: 1;
}

.trip-start-button {
  position: absolute;
  top: 10px;
  right: 50px;
  padding: 10px 20px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000; /* Ensure the button is above the map */
}

.trip-start-button:hover {
  background-color: #e64a19;
}

.clear-route-button {
  position: absolute;
  top: 50px; /* Adjust this value to place the button below the "Start Trip" button */
  right: 50px;
  padding: 10px 20px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000; /* Ensure the button is above the map */
}

.clear-route-button:hover {
  background-color: #1976d2;
}
