* {
  box-sizing: border-box;
}

@media only screen and (max-height: 1008px) {
  .padayo {
    top: 13rem;
  }

  .padayo-text {
    margin-right: 85rem;
    font-size: 2rem;
    padding-left: 3rem;
  }

  .about-text {
    margin-top: 47rem;
    margin-right: 107rem;
    left: 5rem;
    font-size: 2rem;
  }

  .bruh-text {
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 1.5rem;
  }
}

@media only screen and (max-height: 828px) {
  .padayo {
    top: 11rem;
  }

  .padayo-text {
    margin-right: 67rem;
    font-size: 1.6rem;
    padding-left: 2rem;
  }

  .about-text {
    margin-top: 37rem;
    margin-right: 85rem;
    left: 4rem;
    font-size: 1.6rem;
  }

  .bruh-text {
    margin-top: 1.4rem;
    margin-left: 4rem;
    margin-right: 5rem;
    font-size: 1.2rem;
  }
}

.nav-front {
  top: 0;
  background-color: #b5c18e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  gap: 2rem;
  padding: 0rem 2rem;
  z-index: 3;
  flex-shrink: 0;
}

.nav-front ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-front a {
  color: inherit;
  text-decoration: none;
}

.nav-front li {
  display: flex;
  align-items: center;
}

.web-name {
  width: 10rem;
  height: 5rem;
  z-index: 2;
  cursor: pointer;
}

.front-signup-btn {
  padding: 12px;
  border: none;
  border-radius: 18px;
  font-size: 15px;
  font-weight: bold;
  background-color: #ded2aa;
  transition-duration: 0.4s;
  color: #b3816e;
  cursor: pointer;
}

.front-signup-btn:hover {
  background-color: #b3816e;
  color: #ded2aa;
  transition-duration: 0.4s;
}

.padayo {
  position: relative;
  left: 2rem;
  margin-right: 2rem;
  z-index: 2;
}

.padayo-logo {
  z-index: 2;
  width: 25%;
}

.padayo-text {
  margin-top: 1rem;
  color: #487e5c;
}

.bg-grass {
  top: 1rem;
  right: 0px;
  width: 95%;
  position: absolute;
  z-index: 1;
}

.about-text {
  position: relative;
  z-index: 2;
  color: #487e5c;
}

.bruh-text {
  text-align: justify;
  color: #487e5c;
}
