*,
*::before,
*::after {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #a3cb8f;
  /*this affects the navigation bar if the outlet is small */
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.page-content {
  margin-left: 10rem;
  margin-right: 5rem;
  padding: 1rem;
  text-align: justify;
}

.version {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
}

.icon {
  margin-left: 10rem;
  padding: 1rem;
}

.leaflet-container {
  height: 90vh;
}

.map {
  z-index: 1;
}