.navigation {
  background-color: #ded2aa;
  color: #b3816e;
  position: fixed;
  margin-top: 11rem;
  height: 40.8rem;
  width: 105px;
  transition: width 100ms ease;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 2;
}

.navigation:hover {
  width: 300px;
}

.nav-logo {
  position: absolute;
  margin-top: 0.8rem;
  width: 250px;
  height: 80px;
  clip: rect(0, 3rem, 10rem, 0);
  margin-left: 2rem;
  color: #b3816e;
}

.web-name {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 5.8rem;
}

.nav-link {
  display: flex;
  align-items: center;
  color: inherit;
  padding: 20px 15px;
  gap: 30px;
  transition: all 0.5s;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #b3816e;
  color: #ded2aa;
  transition: all 0.5s;
}

.nav-text {
  display: none;
}

.navigation:hover .nav-text {
  display: block;
}

.navigation:hover .nav-logo {
  clip: rect(0, 40rem, 10rem, 0);
}

.dashboard-icon {
  height: 50px;
  width: 70px;
  margin-right: 2px;
  flex-shrink: 0;
}
